.movieText {
   color: cyan;
   font-size: 24px;
   text-align: left;
}

.movieHeading {
   margin: auto;
   padding: 1rem;
   text-align: left;
   color: purple;
   font-size: 26px;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}